pkgbase = gawk
	pkgdesc = GNU version of awk
	pkgver = 5.3.0
	pkgrel = 1
	url = https://www.gnu.org/software/gawk/
	arch = x86_64
	license = GPL
	depends = sh
	depends = glibc
	depends = mpfr
	provides = awk
	source = https://ftp.gnu.org/pub/gnu/gawk/gawk-5.3.0.tar.gz
	source = https://ftp.gnu.org/pub/gnu/gawk/gawk-5.3.0.tar.gz.sig
	validpgpkeys = D1967C63788713177D861ED7DF597815937EC0D2
	sha256sums = 378f8864ec21cfceaa048f7e1869ac9b4597b449087caf1eb55e440d30273336
	sha256sums = SKIP

pkgname = gawk
